@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-utilities";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/dropdown";

*, html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// body{
//     background-color: $Flash-White;
// }
a {
    text-decoration: none;
}