$primary: #eaa61f;
$header-input: #ffffff33;
$heading: #585858;
$header-badge: #6ad0f6;
$bg-btn: #556121;
$sonic-Silver: #757575;
$metal:#6c757d;
$philippine-silver:#B4B4B3;
$flash-white:#F2F2F2;
$mustard:#ffcc55;
$footter-text:#999;
$banana-bania:#f9e4bb;
$dark-liver:#504e4e;
$lotion:#fcfcfc;