@import '/src/assets/scss/base/variable.scss';
@import '/src/assets/scss/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto&display=swap');




div{
    nav {
        background-color: rgba(0, 0, 0, .5);
        box-shadow: 1px 2px 3px 2px rgba(59, 59, 59, 0.2);
        top: 0;
        z-index: 14;
    
        .container-fluid {
    
            @media screen and (max-width : 4000px) {
    
                padding: 0.644rem 5.3rem;
    
                a {
                    
                    img {
                        width: 153px;
                        height: 34px;
                        object-fit: contain;
                        vertical-align: middle;
                    }
    
                }
    
                .left-sidebar {
                    list-style-type: none;
                    margin-left: 3rem;
    
                    li {
                        padding-top: 1px;
                        margin-right: 2.2rem;
                        button{
                            color: white;
                            font-size: .84rem;
                            .arrow {
                                color: $philippine-silver;
                                margin-left: 0.75rem;
                                font-size: 13px;
                            }
                        }
    
                        a {
                            
    
                            color: white;
                            font-size: .84rem;
    
                            &:hover {
                                color: $primary;
                            }
                        }
    
                      
                        
                    }
                    .d-dop{
                        display: inline;
                        &::after {
                               
                            content: "";
                            position: absolute;
                            border-left: 11px solid transparent;
                            border-right: 11px solid transparent;
                            border-bottom: 13px solid white;
                            z-index: 2;
                            top: 49px;
                            left: 322px;
                        }

                        .dropdown {
                            

                            position: absolute;
                            padding: 0px 0 0 40px;
                            box-shadow: 2px 2px 15px #00000033;
                            list-style: none;
                            z-index: 1;
                            right: 0;
                            border: none;
                            margin-top: 62px;
                            background-color: white;
                            top: 0px;
                            left: 0px;

                            width: 100%;
                            height: 450px;

                            .container {
                                .custom-accordion {
                                    h4 {
                                        color: $heading;
                                        font-size: 1.5rem;
                                        font-weight: 500;
                                        line-height: 1.2;
                                    }

                                    .row {
                                        .btn-block {
                                            overflow-y: scroll;
                                            height: 340px;
                                            padding: 0 16px;

                                            .btn-bg {
                                                background-color: $flash-white;
                                                border-radius: 8px;
                                                padding: 14px 15px 14px 0;
                                                box-shadow: 0 3px 4px #82808066;

                                                div {
                                                    a {
                                                        &:hover {
                                                            color: $dark-liver;
                                                        }
                                                        font-weight: 500;
                                                        color: $sonic-Silver;
                                                        font-size: 1.13rem;

                                                    }
                                                    button{
                                                        cursor: pointer;
                                                        height: unset;
                                                        line-height: unset;
                                                        .icon{
                                                            font-size: 14px;
                                                            padding: 0 6px;
                                                            color: #7c7a7a;
                                                            transition: all 0.3s ease-in-out;
                                                        }
                                                    }
                                                    .accordion-body{
                                                        transition: all 0.4s ease-in-out;
                                                        max-height: 0;
                                                        overflow: hidden;
                                                        ul{
                                                                
                                                                transition: all 0.4s ease-in-out;
                                                                max-height: 0;
                                                                overflow-y: hidden;
                                                                list-style: none;
                                                                display: none;
                                                        }
                                                        
                                                        
                                                    }
                                                    &.show{
                                                        .icon{
                                                            transition: all 0.3s ease-in-out;
                                                            transform: rotate(180deg);
                                                        }
                                                        .accordion-body{
                                                        
                                                            transition: all 0.4s ease-in-out;
                                                            max-height: 200px;
                                                            ul{
                                                                transition: all 0.4s ease-in-out;
                                                                max-height: 184px;
                                                                overflow-y: scroll;
                                                                display: block;
                                                                li{
                                                                    margin-top: 10px;
                                                                    padding-bottom: 10px;
                                                                    border-bottom: 1px solid #d1d1d1;
                                                                    .img-a{
                                                                        font-size: 1.13rem;
                                                                        color: #fff;
                                                                        font-weight: 500;
                                                                        img{
                                                                            width: 50px;
                                                                            height: 50px;
                                                                        
                                                                        }
                                                                    }
                                                                    .text-a{
                                                                        width: calc(100% - 50px);
                                                                        color: #000;
                                                                        font-size: 1rem;
                                                                        font-weight: 500;
                                                                    }
                                                                }
                                                            }
                                                            ul::-webkit-scrollbar {
                                                                width: 0;
                                                            }
                                                        }
                                                    }
                                                    
                                                }
                                            
                                                    
                                            
                                                
                                            }
                                        }
                                        .btn-block::-webkit-scrollbar {
                                            width: 0;
                                        }
                                    }
                                }
                            }
                        }
                    
                    }
                }
    
                .right-sidebar {
                    list-style-type: none;
    
                    li {
                        margin-right: 2.2rem;
    
                        span {
                            color: white;
                            font-size: .84rem;
    
                            &:hover {
                                color: $primary;
                            }
                        }
                    }
    
                    .butn {
    
                        a {
                            border-radius: 30px;
                            font-size: .84rem;
                            background-color: rgba(234, 166, 31, .7);
                            border-color: rgba(234, 166, 31, .7);
    
                            &:hover {
                                background-color: transparent;
                                border-color: white;
                            }
                        }
    
                    }
    
                    .user-img {
                       
    
                        img {
                            width: 29px;
                            height: 29px;
                            vertical-align: middle;
                            border-style: none;
                        }
                    }
    
                }
            }
            @media screen and (max-width : 1200px){
                padding: 0.644rem 2.2rem;
                .left-sidebar{
                    li{
                        margin-right: 1.5rem;
                    }
                }
                .right-sidebar{
                    li{
                        margin-right: 1.5rem;
                    }
                }
            }
            @media screen and (max-width : 768px){
                padding: 0.644rem 0.6rem;
                
            }
            @media screen and (max-width : 575px){
                a{
                    margin: auto;
                }
                .right-sidebar{
                    li{
                        margin-right: 0;
                    }
                }
                
            }
    
        }
    }
    .sidebar{
        
        max-height: 115%;
        background: transparent;
        width: 100%;
        z-index: 14;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        .overlay-sidebar{
            z-index: 16;
            background-color: rgba(0,0,0,.5);
        }
        .menu-bar{
            width: 300px;
            padding: 20px;
            z-index: 17;
            padding-left: 0;
            .button{
                .cross-btn{
                    width: 45px;
                    height: 45px;
                    background-color: #fbd688;
                }
            }
            ul{
                list-style: none;
                margin-top: 0;
                margin-bottom: 1rem;
                li{
                    padding: 20px;
                    a{
                        color: #a5a5a5;
                        font-size: 18px;

                    }
                }
            }
        }
    }
    

}


