@import '/src/assets/scss/base/variable.scss';
@import '/src/assets/scss/main.scss';



.status-container {
    @media screen and (max-width : 4000px) {

        .row {
            padding: 0 8.95rem;

            .status-block {
                padding: 3rem;

                .status-content {
                    .status-img {
                        width: 110px;
                        height: 110px;
                        padding: 15px 0;
                        border: 14px solid $banana-bania;
                        background: $primary;

                        img {
                            width: 52px;
                            height: 52px;
                            vertical-align: middle;
                        }
                    }

                    .status-text {
                        line-height: 1;
                        padding: 15px;
                        color: $primary;

                        span {
                            font-size: 1.6rem;
                        }

                        p {
                            font-size: 2.9rem;
                            font-family: Open Sans,sans-serif;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }

        .vr-lines {

            &::before,
            &::after {
                content: "";
                width: 1px;
                height: 50%;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: 0;
                background: linear-gradient(45deg, transparent, $primary);
            }

            &::before {
                transform: rotate(1turn);
            }

            &::after {
                top: 8px;
                transform: rotate(180deg);
            }

        }

        .hz-lines {

            &::before,
            &::after {
                content: "";
                width: 1px;
                position: absolute;
                margin: 0 auto;
                bottom: 0;
                transform: rotate(-90deg);
                height: 100%;
                ;
            }

            &::before {
                left: 0;
                background: linear-gradient(45deg, transparent, $primary);
                right: -31%;
            }

            &::after {
                right: 0;
                background: linear-gradient(45deg, $primary, transparent);
                left: -31%;
            }

        }
    }
    @media screen and (max-width : 992px){
        .row {
            padding: 0;
            
        }    
    }
    @media screen and (max-width : 767px) {
        .row{
            .status-block{
                padding: 1.5rem;
                .status-content{
                    .status-img{
                        width: 50px;
                        height: 50px;
                        padding: 4px 0;
                        border: 6px solid $banana-bania;
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .status-text{
                        padding: 5px 8px;
                        span{
                            font-size: .8rem;
                        }
                        p{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

}

